%h1 Listing articles
%table
  %tr
    %th Title
    %th Text
    %th
  - @gallery.each do |gallery|
    %tr
      %td= gallery.title
      %td= gallery.description
      %td= link_to 'Show', gallery_path(gallery)

