/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *



 *= require rails_bootstrap_forms
 */


@import "bootstrap-sprockets";
@import "bootstrap";



body, a {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: 400;
  color: #333333;
  background: url(body_bg.png);
  //height: 100%;
}

#home {

  font-family: 'Ubuntu Condensed', sans-serif;

  width:100%;
  height:auto;
  position:relative;
}

.content {
  font-family: 'Ubuntu Condensed', sans-serif;
}

/* Top Menu */
.navsticky{
  width: 100%;
  z-index: 99999;
}

.navbar-topaz{
  background-color: white;
  background-image: none;
  opacity: 0.95;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navbar-topaz > .container .navbar-brand, .navbar-topaz > .container-fluid .navbar-brand{
  background-image: none;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.swing:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

#bs-example-navbar-collapse-1 a:hover {
  color: #1da1f2;
}

.navbar-topaz:hover{
  opacity: 1;
}

.navsticky .navbar{
  border-radius: 0;
}

.navsticky .navbar a{
  color: #333333;
  line-height: 34px;
}

.navbar-brand>img {
  height: 100%;
}

.navsticky .dropdown-menu{
  background-color: white;
  color: #333333;
  border-radius: 0;
}

.navsticky .dropdown-menu>li>a {
  background-color: transparent;;
  color: #333333;
}

.navsticky .nav>li>a{
  padding: 10px 25px;
  line-height: 44px;
  background-image: none;
}

.navsticky .dropdown-menu>li>a{
  font-weight: 400;
  background-image: none;
}

.navopacity{
  opacity: 0.9;
}

.navbar-collapse {
  flex-basis: 0;
  //flex-direction: row;
}

.navbar-nav {
  flex-direction: row;
}

%nav.navbar-nav.navbar-right {
  justify-content: space-between;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.fn_btn {
  display: flex;
  justify-content: center;
  position: relative;
}

.button-back {
  //margin-left: 18%;
  position: absolute;
  margin-left: 10%;
  top: 0;
  left: 0;
}


