// Place all the styles related to the Comments controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#leave_comment, #comments  {
  margin: 20px 10px;
}

#leave_comment {
  min-width: 40%;
}

.comment_items {
  display: flex;
  justify-content: center;

}

#comments .big_title_txt_separ.background_color {
  margin-top: 0;
}

.left_side {
  padding: 10px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.right_side {
  padding: 10px;
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.comment {
  padding: 15px;
}

