%h1 Listing categories
%table
  %tr
    %th Title
    %th Text
    %th
  - @category.each do |category|
    %tr
      %td= category.name
      %td= category.description
      %td= link_to 'Show', category_path(category)

%p
  = link_to 'Add new category', new_category_url


-#= link_to 'Add new image', new_category_image_path
