%p
  %strong Title:
  = @category.name

%p
  %strong Description:
  = @category.description
%p
  -if @images.exists?
    -@images.each do |image|
      = link_to(image_tag(image.picture.small.url), image.picture.url)

%p
  = link_to 'Add new image', new_category_image_url(@category)

%p
  =link_to 'Go back', categories_path
