%p
  %strong Title:
  = @category.name

%p
  %strong Description:
  = @category.description

  = render 'images/zxc_index'

-#=link_to 'Add new image', new_category_image_path

=link_to 'Go back', categories_path
