%p
  %strong Title:
  = @category.name

%p
  %strong Description:
  = @category.description
%p
  -if @images.exists?
    -@images.each do |image|
      = image_tag image.picture.small.url

=link_to 'Go back', categories_path
