= form_with model: @image, url: { action: :create }, :html => { :multipart => true } do |f|

  -#= f.hidden_field :category_id, :value => params[:category_id] #загрузка картинки в текущую категорию
  %p
    =f.label :Title
    =f.text_field :title

  %p
    =f.file_field :picture
  -#%p
  -#  = f.label :category
  -#  = f.select :category_id, Category.all.collect { |x| [x.name, x.id] }, class:'form-control' # загрузка с возможностью выбора категории

  %p
    =f.submit "Upload"

  %p
    = link_to 'Back to category', category_path(id: params[:category_id])
